.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar,
.well {
  box-shadow: none;
}
.btn,
.dropdown-menu {
  border-radius: 0;
}
.btn-primary {
  background-color: #34495E;
  border-color: #34495E;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #3F5872;
  border-color: #3F5872;
  color: #FFFFFF;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #293A4A;
  border-color: #293A4A;
}
.badge.badge-green,
.badge.badge-success {
  background-color: #8DC63F;
}
.dropdown-menu > li > a > i {
  display: inline-block;
  margin-right: 5px;
}
.breadcrumb {
  background-color: transparent;
}
.breadcrumb li i {
  margin-right: 4px;
}
.breadcrumb li a {
  color: #979898;
}
body.default .sidebar-menu {
  background: #2C2E2F;
}
body.default .logo-env {
  border-bottom-color: #313437;
  color: #FFFFFF;
}
body.default .main-menu li.active > a {
  color: #FFFFFF;
}
body.default .main-menu li.expanded > a {
  color: #FFFFFF;
}
body.default .sidebar-user-info {
  background-color: #27292A;
  border-bottom: 1px solid #323435;
}
/* --- panel --- */
.blog-box p {
  font-size: 12px;
}
.blog-box h4 {
  font-weight: bold;
  margin-top: 0;
}
.blog-box .panel-heading {
  background: #FFFFFF;
  border-top: 1px solid #E4E5E7;
  border-left: 1px solid #E4E5E7;
  border-right: 1px solid #E4E5E7;
  border-radius: 2px;
  padding: 10px 20px;
  position: relative;
  font-weight: 500;
}
.blog-box .panel-heading .media-body {
  line-height: 16px;
}
.blog-box .panel-heading .media-body h5 {
  margin-top: 0;
}
.blog-box .panel-heading .media img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.blog-box .panel-image {
  border-left: 1px solid #E4E5E7;
  border-right: 1px solid #E4E5E7;
  position: relative;
}
.blog-box .panel-image .title {
  position: absolute;
  bottom: 10px;
  padding: 0 20px;
  color: #FFFFFF;
}
.blog-box .panel-image .title h4 {
  margin-bottom: 0px;
}
.blog-box .panel-image .title a {
  color: #FFFFFF !important;
}
.blog-box .panel-footer {
  color: #909295;
}
.blog-article-box .panel-heading {
  background: #FFFFFF;
  border-top: 1px solid #E4E5E7;
  border-left: 1px solid #E4E5E7;
  border-right: 1px solid #E4E5E7;
  border-radius: 2px;
  padding: 80px 10px;
  position: relative;
  font-weight: 500;
  text-align: center;
}
.blog-article-box .panel-heading h4 {
  font-size: 32px;
  font-weight: 700;
  color: #515355;
}
.blog-article-box .panel-heading .panel-body {
  padding: 50px 70px;
}
.blog-article-box .panel-heading .panel-body p {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 20px;
  line-height: 32px;
  color: #515355;
}
@media (max-width: 768px) {
  .blog-article-box .panel-body {
    padding: 10px 20px;
  }
  .blog-article-box .panel-body p {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 16px;
    line-height: 28px;
  }
  .blog-article-box .panel-heading {
    padding: 20px 20px;
  }
}
.hpanel > .panel-heading {
  color: inherit;
  font-weight: 600;
  padding: 10px 4px;
  transition: all .3s;
  border: 1px solid transparent;
}
.hpanel .hbuilt.panel-heading {
  border-bottom: none;
}
.hpanel > .panel-footer,
.hpanel > .panel-section {
  color: inherit;
  border: 1px solid #E4E5E7;
  border-top: none;
  font-size: 90%;
  background: #F7F9FA;
  padding: 10px 15px;
}
.hpanel.panel-collapse > .panel-heading,
.hpanel .hbuilt {
  background: #FFFFFF;
  border-color: #E4E5E7;
  border: 1px solid #E4E5E7;
  padding: 10px 10px;
  border-radius: 2px;
}
.hpanel .panel-body {
  background: #FFFFFF;
  border: 1px solid #E4E5E7;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}
.hpanel.panel-group .panel-body:first-child {
  border-top: 1px solid #E4E5E7;
}
.hpanel.panel-group .panel-body {
  border-top: none;
}
.panel-collapse .panel-body {
  border: none;
}
.hpanel {
  background-color: none;
  border: none;
  box-shadow: none;
  margin-bottom: 25px;
}
.splash {
  background: rgba(255, 255, 255, 0.5);
  bottom: 0;
  color: gray;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
}
.splash-title {
  margin: 15% auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}
.spinner {
  font-size: 15px;
  height: 50px;
  margin: 20px auto;
  text-align: center;
  width: 60px;
}
.spinner > div {
  animation: 1.2s ease-in-out 0s normal none infinite running sk-stretchdelay;
  background-color: #62CB31;
  display: inline-block;
  height: 100%;
  width: 8px;
}
.spinner .rect2 {
  animation-delay: -1.1s;
}
.spinner .rect3 {
  animation-delay: -1s;
}
.spinner .rect4 {
  animation-delay: -0.9s;
}
.spinner .rect5 {
  animation-delay: -0.8s;
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  animation-duration: 0.75s;
  animation-name: bounceIn;
}
.ng-hide-add {
  animation: 0.5s lightSpeedOut ease;
}
.ng-hide,
.ng-hide-remove {
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}
.ng-hide-add {
  opacity: 1;
}
.ng-hide {
  opacity: 0;
}
.ng-hide-remove {
  opacity: 1;
}
html,
body {
  border: medium none;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: #2c2e2f;
  font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #eeeeee;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 0 100%;
  -moz-box-flex: 1 0 100%;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}
[ui-view].ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0.5;
  position: relative;
  top: 10px;
}
[ui-view].ng-enter-active {
  top: 0;
  opacity: 1;
}
.sidebar-menu,
.transall,
.sidebar-menu .main-menu a,
.navbar.horizontal-menu .navbar-inner .navbar-brand a[data-toggle="settings-pane"],
.navbar.horizontal-menu .navbar-inner .navbar-brand a[data-toggle="settings-pane"] i,
footer.main-footer .go-up a,
.user-info-navbar .user-info-menu > li > a,
.footer-sticked-chat .chat-conversations > li .chat-user,
.footer-sticked-chat .chat-conversations > li.open .conversation-window,
.footer-sticked-chat .chat-conversations > li.browse-more .other-conversations-list li a span,
.breadcrumb.auto-hidden li a,
.icon-collection .fontawesome-icon-list .fa-hover .icon-str > i,
.icon-collection .fontawesome-icon-list .fa-hover .icon-str > span {
  transition: all 220ms ease-in-out 0s;
}
.page-container {
  border-collapse: collapse;
  border-spacing: 0;
  height: 100%;
  vertical-align: top;
  width: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1 1 100%;
  -moz-box-flex: 1 1 100%;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  overflow-y: auto;
}
.page-content {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
  transition: opacity 100ms ease-in-out 0s;
  vertical-align: top;
  width: 100%;
  z-index: 1;
}
.page-content > .navbar {
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.main-content,
.ui-view-index-container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
  transition: opacity 100ms ease-in-out 0s;
  vertical-align: top;
  width: 100%;
  z-index: 1;
}
.ui-view-index-container > .page-title {
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.ui-view-container {
  padding: 1.8rem 1.8rem 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
}
.page-title {
  background: #f8f8f8 none repeat scroll 0 0;
  box-shadow: 0 1px 0 rgba(0, 1, 1, 0.08), 0 1px 0 #ededed inset;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  margin: 0;
}
.page-title .title-env {
  float: left;
  padding-left: 30px;
}
.page-title .title-env .title {
  font-size: 27px;
  margin: 0;
}
.page-title .title-env .title + p {
  color: #979898;
  margin: 5px 0 0;
}
.page-title .breadcrumb-env {
  float: right;
  padding-right: 30px;
  font-size: 14px;
}
.page-title .breadcrumb-env .breadcrumb {
  margin-bottom: 0;
  margin-top: 8px;
}
.sidebar-wrap {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 0 217px;
  -moz-box-flex: 1 0 217px;
  -webkit-flex: 1 0 217px;
  -ms-flex: 1 0 217px;
  flex: 1 0 217px;
  overflow-y: scroll;
}
.sidebar-menu {
  font-size: 14px;
  position: relative;
  z-index: 1;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 0 200px;
  -moz-box-flex: 1 0 200px;
  -webkit-flex: 1 0 200px;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
  overflow-y: auto;
}
.sidebar-menu.fixed {
  height: 100%;
}
.sidebar-menu.fixed .sidebar-menu-inner {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: inherit;
}
@media (max-width: 769px) {
  .sidebar-menu {
    -webkit-box-flex: 1 0 0;
    -moz-box-flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    transform: translate(-200px, 0px);
  }
}
.main-menu {
  list-style: outside none none;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.main-menu a {
  border-bottom: 1px solid #313437;
  color: #979898;
  display: block;
  padding: 8px 5px;
  text-decoration: none;
}
.main-menu a:focus {
  outline: none;
  outline-offset: 0;
}
.main-menu a:hover {
  color: #ffffff;
}
.main-menu a > i {
  display: inline-block;
  margin-right: 10px;
}
.main-menu a > i + span {
  padding-right: 10px;
}
.main-menu li.has-sub > a::before {
  color: #6d747a;
  content: "";
  display: inline-block;
  float: right;
  font-family: "FontAwesome";
  margin-left: 10px;
  position: relative;
  transform: rotate(-90deg);
  transition: all 150ms ease-in-out 0s;
}
.main-menu li.has-sub.expanded > a::before {
  transform: rotate(0deg);
}
.main-menu ul {
  list-style: outside none none;
  margin: 0;
  width: inherit;
  height: 0;
  overflow: hidden;
  padding: 0;
}
.main-menu ul li {
  position: relative;
}
.main-menu ul li a {
  padding-left: 2rem;
}
.main-menu ul li.hidden-item {
  opacity: 0;
  transition: all 250ms ease-in-out 0s;
  visibility: hidden;
}
.main-menu ul li.is-hidden {
  left: -20px;
  opacity: 0;
}
.main-menu ul li ul li a {
  padding-left: 4rem;
}
.main-menu ul li.is-shown {
  left: 0;
  opacity: 1;
  transition: all 200ms ease-in-out 0s;
}
.main-menu ul li.is-shown + .is-shown {
  transition-delay: 80ms;
}
.main-menu ul li.is-shown + .is-shown + .is-shown {
  transition-delay: 120ms;
}
.main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown {
  transition-delay: 160ms;
}
.main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  transition-delay: 200ms;
}
.main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  transition-delay: 240ms;
}
.main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  transition-delay: 280ms;
}
.main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  transition-delay: 320ms;
}
.main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  transition-delay: 360ms;
}
.main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  transition-delay: 400ms;
}
.main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown {
  transition-delay: 440ms;
}
.logo-env {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  padding: 1.2rem 2.5rem;
  text-align: center;
}
.logo-env .logo {
  float: left;
}
.logo-env .logo a {
  color: #FFFFFF;
  text-direction: none;
}
.logo-env .settings-icon {
  float: right;
  position: relative;
  top: 1px;
  font-size: 18px;
}
.logo-env .settings-icon i {
  color: #979898;
}
.logo-env .settings-icon a:hover i {
  color: #ffffff;
}
.label {
  background-clip: padding-box;
  border-radius: 0;
}
.sidebar-user-info .user-profile {
  display: block;
  padding: 30px 45px;
  text-align: center;
}
.sidebar-user-info .user-profile img.img-corona {
  box-shadow: 0 0 0 4px rgba(221, 221, 221, 0.3);
}
.sidebar-user-info .user-profile span {
  color: #979898;
  display: inline-block;
  vertical-align: middle;
  margin-top: 1rem;
}
.sidebar-user-info .user-profile span strong {
  color: #ffffff;
  display: block;
  font-size: 21px;
  font-weight: 300;
}
.sidebar-user-info .user-links {
  border-top: 1px solid #323435;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1 0 100%;
  -moz-box-flex: 1 0 100%;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  margin: 0;
  width: 100%;
}
.sidebar-user-info .user-links li {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.sidebar-user-info .user-links li.active a {
  background-color: rgba(50, 52, 53, 0.25);
  color: #ffffff;
}
.sidebar-user-info .user-links li a {
  color: #979898;
  display: block;
  padding: 10px;
  text-align: center;
}
.sidebar-user-info .user-links li + li a {
  border-left: 1px solid #323435;
}
.sidebar-user-info .user-links li.logout-link {
  -webkit-box-flex: 0 0 20%;
  -moz-box-flex: 0 0 20%;
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
}
.user-info-navbar {
  background-color: #ffffff;
  border: 0 none;
  margin: 0;
  min-height: 0;
  padding: 0;
  font-size: 14px;
}
.user-info-navbar .user-info-menu {
  margin: 0;
}
.user-info-navbar .user-info-menu li a {
  line-height: 1;
  cursor: pointer;
}
.user-info-navbar .user-info-menu.left-links {
  float: left;
}
.user-info-navbar .user-info-menu.right-links {
  float: right;
}
.user-info-navbar .user-info-menu > li {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent;
  border-image: none;
  border-style: none solid;
  border-width: 0 1px;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1;
}
.user-info-navbar .user-info-menu > li.user-profile .userpic-32 {
  top: 8px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu {
  border-radius: 0;
  box-shadow: 0 2px 8px rgba(0, 1, 1, 0.05);
  margin: 0 0 0 -1px;
  padding: 0;
  z-index: 3;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu {
  left: auto;
  right: -1px;
  width: 250px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li {
  display: block;
  margin: 0;
  padding: 15px 20px 0;
  position: relative;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li a {
  border-bottom: 1px solid #f0f0f0;
  color: #979898;
  display: block;
  padding: 0 0 15px;
}
.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.user-info-navbar .user-info-menu > li.hover-line:hover::before,
.user-info-navbar .user-info-menu > li.hover-line.open::before {
  display: block;
}
.user-info-navbar .user-info-menu > li.open {
  border-left-color: #dddddd;
  border-right-color: #dddddd;
  z-index: 15;
}
.user-info-navbar .user-info-menu > li.hover-line::before {
  background: #68b828 none repeat scroll 0 0;
  content: "";
  display: none;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.user-info-navbar .user-info-menu > li > a {
  border-bottom: 1px solid #ffffff;
  color: #979898;
  display: block;
  padding: 1.2rem 20px 1.2rem 20px;
  position: relative;
  text-decoration: none;
  z-index: 5;
}
.user-info-navbar .user-info-menu > li > a .badge {
  font-size: 9px;
  font-weight: 400;
  line-height: 1;
  min-width: 18px;
  padding: 4px;
  position: absolute;
  top: 10px;
}
.user-info-navbar .user-info-menu > li > a i {
  font-size: 15px;
  line-height: 27px;
  height: 27px;
}
.user-info-navbar .user-info-menu > li a[data-toggle="sidebar"] {
  padding-left: 25px;
}
#loading-bar-container {
  position: absolute;
  width: 100%;
  top: 0;
}
#loading-bar-container #loading-bar .bar {
  position: relative;
}
#loading-bar-spinner {
  position: relative;
  left: 0;
}
.eassy-wrap {
  color: #666666;
}
.markdown-view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  -webkit-box-flex: 1 1 100%;
  -moz-box-flex: 1 1 100%;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  overflow: auto;
}
.markdown-view .view-header {
  align-items: center;
  border-bottom: 1px solid #DFE1E3;
  display: flex;
  flex-shrink: 0;
  height: 65px;
  justify-content: space-between;
  padding: 0 20px;
}
.markdown-view .view-header .view-title {
  flex-grow: 1;
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.markdown-view .view-header .view-title input {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  color: #242628;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.markdown-view .view-header .view-actions {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}
.markdown-view .view-header .view-actions .post-settings {
  color: #7D878A;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  transition: all 0.15s ease-out 0s;
}
.markdown-view .view-container,
.markdown-view .view-content {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.markdown-view .view-container {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
}
.markdown-view .view-container > div {
  -webkit-box-flex: 1 1 50%;
  -moz-box-flex: 1 1 50%;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  overflow-y: auto;
  padding: 0 10px;
}
.markdown-view .view-container > div > textarea {
  height: 100%;
  resize: none;
  border: none;
}
.modal-markdown-help-table {
  margin: 0 0 20px;
  width: 100%;
}
.markdown-help-icon:hover,
.markdown-help-label:hover {
  cursor: help;
}
.modal.fade.in .aside-dialog.aside-left {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.modal.fade .aside-dialog.aside-left {
  right: 0;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -moz-transition: transform 0.3s ease-out 0s;
  -o-transition: transform 0.3s ease-out 0s;
  -webkit-transition: transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s;
}
.modal.fade.in .aside-dialog.aside-right {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.modal.fade .aside-dialog.aside-right {
  right: 0;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -moz-transition: transform 0.3s ease-out 0s;
  -o-transition: transform 0.3s ease-out 0s;
  -webkit-transition: transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s;
}
.aside-dialog {
  margin: 0;
  height: 100%;
  width: 600px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  min-width: 320px;
  background: #FFF;
}
.aside-modal-header {
  padding: 20px;
}
.tag-editor {
  display: block;
  position: relative;
  margin: 5px 0 10px 0;
  border: 1px solid #E4E5E7;
  border-radius: 3px;
  min-height: 40px;
  overflow: hidden;
  padding: 0 9px;
  font-size: 16px;
  font-weight: normal;
  background-color: #FFF;
  color: #000;
  cursor: text;
  line-height: 38px;
}
.tag-editor .tag {
  display: inline-block;
  height: 24px;
  margin: 0 7px 0 0;
  background-color: #5BA4E5;
  color: #FFF;
  padding: 0 5px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  transition: box-shadow 100ms linear;
}
.tag-editor .tag:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.tag-editor .tag .remove {
  margin: 0 0 0 5px;
  font-weight: bold;
}
.tag-editor .tag-input {
  display: inline-block;
  width: auto;
  height: 38px;
  border: 0;
  margin: 0;
  padding: 0;
}
.tag-editor .tag-input:focus {
  box-shadow: none;
  outline: none;
}
.tag-editor.active {
  border-color: #AAA;
}
.tag-editor .tag-suggestions .tag {
  cursor: pointer;
  background-color: #BDBDBD;
}
.bg-img-cover {
  background-color: #999;
  background-size: cover;
}
.post-content {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.8;
}
.post-content p {
  margin: 0;
}
