.ng-hide-add {
  animation: 0.5s lightSpeedOut ease;
}
.ng-hide,
.ng-hide-remove {
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}
.ng-hide-add {
  opacity: 1;
}
.ng-hide {
  opacity: 0;
}
.ng-hide-remove {
  opacity: 1;
}
