html,
body {
  color: #333333;
  font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.navbar {
  border-radius: 0;
  border-width: 0 0 1px;
  border-color: #eeeeee;
  border-style: solid;
}
.navbar .navbar-brand {
  padding: 2px;
  margin-left: 1rem;
}
.navbar .navbar-brand > img {
  height: 100%;
  border-radius: 50%;
}
.navbar-toggle {
  background-color: #FFFFFF;
  border: 1px solid #56a6d7;
  border-radius: 0;
}
.navbar-toggle .icon-bar {
  background-color: #56a6d7;
}
@media (max-width: 767px) {
  .navbar-collapse {
    border-top: 1px solid #eeeeee;
  }
}
.navbar-nav.nav > li > a {
  background: #FFFFFF;
  color: #666666;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
.navbar-nav.nav > li > a:hover {
  background: #a8d1eb;
  color: #FFFFFF;
}
.navbar-nav.nav > li.active > a {
  background: #56a6d7;
  color: #FFFFFF;
}
.container-fluid {
  width: 100%;
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 1200px;
    margin: 0 auto;
  }
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover,
.hvr-grow-rotate:focus,
.hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #E1E1E1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #666666;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #666666;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.post-info {
  padding-right: 380px;
}
.header-title h2 {
  padding: 0 0 0 1.5rem;
  font-size: 2rem;
  color: #666666;
  position: relative;
  margin-bottom: 1.5rem;
}
.header-title h2:before {
  display: block;
  content: " ";
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: #ec6a13;
  top: 0;
  left: 0;
}
.posts {
  padding-right: 380px;
}
.posts .posts-wrap {
  padding: 0 10px 0 0;
}
.posts .posts-wrap article {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}
@media (max-width: 767px) {
  .posts {
    padding-right: 0px;
  }
}
.post-side {
  float: right;
  width: 350px;
  padding: 10px 0;
}
.post-side .sidebar aside {
  padding: 10px;
}
.post-side .aside-title {
  padding: 0px 0 0 15px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  position: relative;
}
.post-side .aside-title:before {
  display: block;
  content: " ";
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: #ec6a13;
  top: 0;
  left: 0;
}
.post-side .aside-title:after {
  display: block;
  content: " ";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #666666;
  bottom: -5px;
  left: 0;
}
.post-title {
  margin: 0 0 5px;
  padding: 0;
}
.post-title a:hover {
  text-decoration: none;
}
.post-title a {
  color: #666666;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}
.post-content {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.8;
}
.post-content p {
  margin: 0;
}
.post-meta {
  color: #666666;
  font-size: 0.95rem;
  line-height: 1.8;
}
.tags-wrap .tag {
  background-color: #EEEEEE;
  border: 1px solid #e5e5e5;
  color: #666666;
  display: inline-block;
  font-size: 13px;
  margin: 0 3px 6px 0;
  padding: 2px 8px;
  position: relative;
  -moz-transition: all 200ms ease 0s;
  -o-transition: all 200ms ease 0s;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  text-decoration: none;
}
.tags-wrap .tag:hover {
  color: #FFFFFF;
}
.post-dynamic > ul {
  color: #aaa;
  display: table;
  font-size: 12px;
  margin: 0 0 12px;
  padding: 0;
}
.post-dynamic > ul > li {
  cursor: default;
  display: list-item;
  float: left;
  list-style: outside none none;
  margin-right: 0px;
}
.post-dynamic > ul > li + li:before {
  display: inline-block;
  content: "•";
  text-align: center;
  width: 15px;
}
.post-dynamic > ul a {
  color: #666;
  text-decoration: none;
  font-weight: bold;
}
.post-dynamic > ul .author {
  color: #666666;
}
.tags-menu {
  min-width: 0;
  width: 100%;
  position: absolute;
  left: 0;
  text-align: left;
  list-style: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.tags-menu li {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 20px;
  line-height: 20px;
  opacity: 0;
  transform: none;
  transition: all 300ms ease 0ms;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
.tags-menu li > a {
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #eeeeee;
  display: block;
  color: #666666;
  padding: 0 2px;
}
.tags-menu li > a:hover {
  color: #ffffff;
}
.open > .tags-menu li {
  display: block;
  opacity: 1;
  top: 0px;
}
.open > .tags-menu li + li {
  top: 22px;
}
.open > .tags-menu li + li + li {
  top: 44px;
}
.open > .tags-menu li + li + li + li {
  top: 66px;
}
.open > .tags-menu li + li + li + li + li {
  top: 88px;
}
.open > .tags-menu li + li + li + li + li + li {
  top: 110px;
}
.post-dynamic .btn-group {
  min-width: 50px;
}
.post-dynamic .btn-group .dropdown-toggle {
  box-shadow: none;
  float: right;
}
.dropdown-menu {
  border-radius: 0;
}
a,
a:hover {
  text-decoration: none;
}
.archive {
  color: #666666;
  padding: 2px 5px;
}
.archive-container {
  font-size: 16px;
}
.archive-title {
  font-weight: bold;
  margin-top: 1rem;
}
.archive-date {
  color: #999;
  font-size: 0.9rem;
  font-style: italic;
  margin: 0 2px;
}
