{{#contentFor 'styles'}}
    <link rel='stylesheet' href="{{asset '/bower_components/bootstrap/dist/css/bootstrap.css'}}"/>
    <link rel='stylesheet' href="{{asset '/bower_components/font-awesome/css/font-awesome.css'}}"/>
    <link rel='stylesheet' href='/public/css/flexbox.css'/>
    <!-- build:css  /about/css/index.pkg_version.css -->
    <link rel='stylesheet' href='/about/css/about.css'/>
    <!-- endbuild -->
{{/contentFor}}

<body>
{{> navigation}}
<div class="container-fluid">
    <header>
        <div class="flex-row full">
            <div class="flex-xs-3">
                <div class="profile-picture"></div>
            </div>
            <div class="flex-xs-9">
                <div class="profile-views">
                    <div class="flex-row column">
                        <h1 class="name">About 柯子源</h1>
                        <ul class="profile-info">
                            <li><i class="fa fa-globe"></i><span>广东省湛江市</span></li>
                            <li><i class="fa fa-mail-reply"></i><span>617070839@qq.com</span></li>
                        </ul>
                        <p>个人简介：<br></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="time-axis">

        <div class="time-axis-wrap">
            <hr class="hr left">
            <hr class="hr right">
            <div class="clock">
                <img src="/public/svg/clock.svg">
            </div>
            <div class="flex-row column full year">
                <h1 class="flex-xs-3">
                    <a href="#">2016年<i class="hidden-sm hidden-xs"></i></a>
                </h1>

                <div class="list">
                    <ul>
                        <li class="part">
                            <div class="flex-row theme-3">
                                <div class="circle"></div>
                                <div class="flex-xs-3">
                                    <div class="time">
                                        <div class="date"><span class="hidden-xs">2016年</span>10月</div>
                                        <div class="thing">华大基因</div>
                                    </div>
                                </div>
                                <div class="flex-xs-9">
                                    <div class="content">
                                        <div class="title">开发者社区</div>
                                        <div class="more">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="part">
                            <div class="flex-row high-light">
                                <div class="circle"></div>
                                <div class="flex-xs-3">
                                    <div class="time">
                                        <div class="date"><span class="hidden-xs">2016年</span>10月</div>
                                        <div class="thing">v2.0.0</div>
                                    </div>
                                </div>
                                <div class="flex-xs-9">
                                    <div class="content">
                                        <div class="title">个人网站升级</div>
                                        <div class="more">
                                            对网站进行全新的改版。<br>
                                            准备对微信公众号进行新的功能添加，尽请期待。
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="part">
                            <div class="flex-row theme-3">
                                <div class="circle"></div>
                                <div class="flex-xs-3">
                                    <div class="time">
                                        <div class="date"><span class="hidden-xs">2016年</span>7月</div>
                                        <div class="thing">华大基因</div>
                                    </div>
                                </div>
                                <div class="flex-xs-9">
                                    <div class="content">
                                        <div class="title">百万数据可视化</div>
                                        <div class="more">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="part">
                            <div class="flex-row theme-2">
                                <div class="circle"></div>
                                <div class="flex-xs-3">
                                    <div class="time">
                                        <div class="date"><span class="hidden-xs">2016年</span>3月</div>
                                        <div class="thing">华大基因</div>
                                    </div>
                                </div>
                                <div class="flex-xs-9">
                                    <div class="content">
                                        <div class="title">前端工程师</div>
                                        <div class="more">
                                            <a href="http://www.bgionline.cn">BGI Online</a>的前端代码维护。<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="part">
                            <div class="flex-row theme-1">
                                <div class="circle"></div>
                                <div class="flex-xs-3">
                                    <div class="time">
                                        <div class="date"><span class="hidden-xs">2016年</span>1月</div>
                                        <div class="thing">v2.0.0</div>
                                    </div>
                                </div>
                                <div class="flex-xs-9">
                                    <div class="content">
                                        <div class="title">个人网站搭建和开通。</div>
                                        <div class="more">
                                            搭建个人网站。<br>
                                            开通了微信公众号，大部分功能已下线。
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-row column full year">
                <h1 class="flex-xs-3">
                    <a href="#">2015年<i class="hidden-sm hidden-xs"></i></a>
                </h1>

                <div class="list">
                    <ul>
                        <li class="part">
                            <div class="flex-row theme-2">
                                <div class="circle"></div>
                                <div class="flex-xs-3">
                                    <div class="time">
                                        <div class="date"><span class="hidden-xs">2015年</span>6月</div>
                                        <div class="thing">
                                            <span class="hidden-xs">深圳市</span>潜游时光<span
                                                class="hidden-xs">文化传媒有限公司</span></div>
                                    </div>
                                </div>
                                <div class="flex-xs-9">
                                    <div class="content">
                                        <div class="title">前端工程师</div>
                                        <div class="more">
                                            <a href="http://www.divingtime.asia/" target="_blank">潜游时光电商系统</a>前端开发。
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-row column full year">
                <h1 class="flex-xs-3">
                    <a href="#">2014年<i class="hidden-sm hidden-xs"></i></a>
                </h1>

                <div class="list">
                    <ul>
                        <li class="part">
                            <div class="flex-row theme-2">
                                <div class="circle"></div>
                                <div class="flex-xs-3">
                                    <div class="time">
                                        <div class="date"><span class="hidden-xs">2014年</span>6月</div>
                                        <div class="thing">深圳市易数通<span class="hidden-xs">科技有限公司</span></div>
                                    </div>
                                </div>
                                <div class="flex-xs-9">
                                    <div class="content">
                                        <div class="title">Java 工程师</div>
                                        <div class="more">
                                            <a target="_blank"
                                               href="http://219.133.95.7:7021/BenchmarkBusiness/pages/Login.jsp">深圳海事政务服务综合平台</a></br>
                                            部海事局协同管理平台</br>
                                            海事综合服务平台</br>
                                            易数通用户中心平台</br>
                                            船货报告云服务
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="part">
                            <div class="flex-row theme-4">
                                <div class="circle"></div>
                                <div class="flex-xs-3">
                                    <div class="time">
                                        <div class="date"><span class="hidden-xs">2014年</span>6月</div>
                                        <div class="thing"><span class="hidden-xs">毕业</span>东莞理工学院</div>
                                    </div>
                                </div>
                                <div class="flex-xs-9">
                                    <div class="content">
                                        <div class="title">信息与计算科学</div>
                                        <div class="more">
                                            计算机网络<br>
                                            C语言、数据结构（C语言）
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="part">
                            <div class="flex-row theme-4">
                                <div class="circle"></div>
                                <div class="flex-xs-3">
                                    <div class="time">
                                        <div class="date">课余自学</div>
                                        <div class="thing"></div>
                                    </div>
                                </div>
                                <div class="flex-xs-9">
                                    <div class="content">
                                        <div class="title">网页设计</div>
                                        <div class="more">
                                            网页三剑客（Dreamweaver、Fireworks、Flash）<br>
                                            Photoshop<br>
                                            AfterEffect、会声会影
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-row column full year">
                <h1 class="flex-xs-3">
                    <a href="#">2013年<i class="hidden-sm hidden-xs"></i></a>
                </h1>

                <div class="list">
                    <ul>
                        <li class="part">
                            <div class="flex-row theme-3">
                                <div class="circle"></div>
                                <div class="flex-xs-3">
                                    <div class="time">
                                        <div class="date"><span class="hidden-xs">2013年</span>6月</div>
                                        <div class="thing">东莞科学技术博物馆</div>
                                    </div>
                                </div>
                                <div class="flex-xs-9">
                                    <div class="content">
                                        <div class="title">需求分析</div>
                                        <div class="more">
                                            东莞科学技术博物馆办公系统 -- 安卓版的需求分析。
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="point"></div>
        </div>
    </section>
</div>

{{#contentFor 'scripts'}}
    <script type="text/javascript" src="/public/js/base.js"></script>
    <script src="{{asset '/bower_components/jquery/dist/jquery.js'}}"></script>
    <script src="{{asset '/bower_components/bootstrap/dist/js/bootstrap.js'}}"></script>
    <script>
        $(".time-axis-wrap  .year .list").each(function (e, t) {
            var n = $(t), r = n.find("ul");
            n.height(r.outerHeight());
        });
        $(".time-axis-wrap .year>h1>a").click(function (e) {
            e.preventDefault(), $(this).parents(".year").toggleClass("closed")
        })
    </script>
{{/contentFor}}
</body>