{{#contentFor 'styles'}}
    <link rel='stylesheet' href="{{asset '/bower_components/bootstrap/dist/css/bootstrap.css'}}"/>
    <!-- build:css  /public/css/product.pkg_version.css -->
    <link rel='stylesheet' href='/public/css/product.css'/>
    <!-- endbuild -->
{{/contentFor}}

<body>
{{> navigation }}
<div class="container-fluid">

</div>
</body>