{{#contentFor 'styles'}}
<link rel='stylesheet' href="{{asset '/bower_components/bootstrap/dist/css/bootstrap.css'}}" />
<link href="/essay/css/index.css"  rel='stylesheet'/>
{{/contentFor}}

<body>
{{> navigation }}
作品
</body>