{{#contentFor 'styles'}}
    <link rel='stylesheet' href="{{asset '/bower_components/bootstrap/dist/css/bootstrap.css'}}"/>
    <!-- build:css  /public/css/project.pkg_version.css -->
    <link rel='stylesheet' href='/public/css/flexbox.css'/>
    <link rel='stylesheet' href='/public/css/project.css'/>
    <!-- endbuild -->
{{/contentFor}}

<body>
{{> navigation}}
<div class="flex-p-full bgi flex-column">
    <div class="content">
        <div class="container-fluid">
            <h2 class="title">
                <a target="_blank" href="http://www.bgionline.cn">
                    <strong>生物信息云平台</strong>&nbsp;BGI Online
                </a>
            </h2>

            <div class="flex-row">
                <div class="flex-full flex-row">
                    <div class="flex-xs-6 point">
                        <img class="icon" src="/public/img/analysis.png">

                        <h3>基因组数据分析</h3>
                        新一代的测序项目管理提供一站式解决方案，<br>
                        为生物信息分析、工具开发者和生物信息领域的各类用户提供便利。
                    </div>
                    <div class="flex-xs-6 point">
                        <img class="icon" src="/public/img/analysis.png">

                        <h3>基于“云”</h3>
                        弹性的数据存储、按需的计算资源、高效的数据传输。<br>
                        一切都在“云”，数据安全，费用更低。
                    </div>
                </div>
                <div class="flex-full flex-row">
                    <div class="flex-xs-6 point">
                        <img class="icon" src="/public/img/analysis.png">

                        <h3>强大的生物信息数据</h3>
                        丰富的平台工具和流程，轻松配置工具和流程。<br>
                        全程记录数据、软件、参数、结果，轻松跟踪每个分析步骤。
                    </div>
                    <div class="flex-xs-6 point">
                        <img class="icon" src="/public/img/analysis.png">

                        <h3>零距离沟通，一切都可以分享</h3>
                        以项目为基础的管理系统，数据工具人员自由分配。<br>
                        多种组别权限管理，效率更高 。<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background"></div>
</div>
<div class="flex-p-full nifty flex-column">
    <div class="content">
        <div class="container-fluid">
            <h2 class="title"><strong>百万数据可视化</strong></h2>

            <div class="flex-row"></div>
        </div>
    </div>
    <div class="background"></div>
</div>
<script src="{{asset '/bower_components/jquery/dist/jquery.js'}}"></script>
<script src="{{asset '/bower_components/bootstrap/dist/js/bootstrap.js'}}"></script>
</body>