{{#contentFor 'styles'}}
    <link rel='stylesheet' href="{{asset '/bower_components/bootstrap/dist/css/bootstrap.css'}}"/>
    <!-- build:css  /public/css/project.pkg_version.css -->
    <link rel='stylesheet' href='/public/css/flexbox.css'/>
    <link rel='stylesheet' href='/public/css/project.css'/>
    <!-- endbuild -->
{{/contentFor}}

<body>
{{> navigation}}
<div class="bgi flex-column" id="bgi">
    <div class="content">
        <div class="container-fluid">
            <h2 class="title">
                <a target="_blank" href="http://www.bgionline.cn">
                    <strong>生物信息云平台</strong>&nbsp;BGI Online
                </a>
            </h2>

            <div class="flex-row content-wrap">
                <div class="flex-full flex-row">
                    <div class="flex-xs-12 flex-sm-6 point">
                        <img class="icon" src="/public/img/analysis.png">

                        <h3>基因组数据分析</h3>
                        新一代的测序项目管理提供一站式解决方案，<br>
                        为生物信息分析、工具开发者和生物信息领域的各类用户提供便利。
                    </div>
                    <div class="flex-xs-12 flex-sm-6 point">
                        <img class="icon" src="/public/img/analysis.png">

                        <h3>基于“云”</h3>
                        弹性的数据存储、按需的计算资源、高效的数据传输。<br>
                        一切都在“云”，数据安全，费用更低。
                    </div>
                </div>
                <div class="flex-full flex-row">
                    <div class="flex-xs-12 flex-sm-6 point">
                        <img class="icon" src="/public/img/analysis.png">

                        <h3>强大的生物信息数据</h3>
                        丰富的平台工具和流程，轻松配置工具和流程。<br>
                        全程记录数据、软件、参数、结果，轻松跟踪每个分析步骤。
                    </div>
                    <div class="flex-xs-12 flex-sm-6 point">
                        <img class="icon" src="/public/img/analysis.png">

                        <h3>零距离沟通，一切都可以分享</h3>
                        以项目为基础的管理系统，数据工具人员自由分配。<br>
                        多种组别权限管理，效率更高 。<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background bgi"></div>
</div>
<div class="nifty flex-column" id="nifty">
    <div class="content">
        <div class="container-fluid">
            <h2 class="title"><strong>百万NIFTY数据可视化</strong></h2>

            <p class="text-center">
                NIFTY™是华大基因无创产前基因检测服务的名称。短短几年，已经有超过100万的孕妈妈选择了NIFTY™，NIFTY™成为全球首个突破100万例的无创产前基因检测产品。<br>
                百万NIFTY数据可视化是一套以图形图像形式展示华大基因在NIFTY™的数据统计的系统，将大量的统计结果以简单易读的形式呈现出来。<br>
                该系统目前部署在<strong class="theme-2">深圳国家基因库</strong>的展厅中。
            </p>
            <p class="nifty-wrap">密</p>
        </div>
    </div>
    <div class="background"></div>
</div>

<div class="divingtime flex-column" id="divingtime">
    <div class="content">
        <div class="container-fluid">
            <h2 class="title"><strong>深圳市潜游时光电商系统</strong></h2>
            <p class="text-center">
                深圳市潜游时光文化传媒有限公司是一家创业开始的公司，因为爱好潜水，所以将其做成了事业。<br>
                潜游时光面向中国旅游市场的中高端客户，竭力为客户提供更个性的私人订制咨询服务。
            </p>
            <div class="divingtime-wrap">
                    Angular.js
            </div>
        </div>
    </div>
    <div class="background"></div>
</div>

<div class="mgear flex-column" id="mgear">
    <div class="content">
        <div class="container-fluid">
            <h2 class="title"><strong>深圳市易数通系列系统</strong></h2>

            <p class="text-center">深圳市易数通科技有限公司是一家电子政务服务商，积极参与海事局信息化项目的建设。<br>
                以下为参与的项目和主要负责的开发语言或者框架。
            </p>

            <div class="mgear-wrap">
                <div class="mgear-item mgear_1">
                    <div class="item-content">
                        <h5 class="item-title">部海事局协同管理平台</h5>

                        <div class="item-keyword">
                            Java Easy-ui
                        </div>
                    </div>
                </div>
                <div class="mgear-item mgear_2">
                    <div class="item-content">
                        <h5 class="item-title">海事综合服务平台</h5>

                        <div class="item-keyword">
                            Java Easy-ui 
                        </div>
                    </div>
                </div>
                <div class="mgear-item mgear_3">
                    <div class="item-content">
                        <h5 class="item-title">深圳海事政务服务综合平台</h5>

                        <div class="item-keyword">
                            Html CSS Jquery
                        </div>
                    </div>
                </div>
                <div class="mgear-item mgear_2">
                    <div class="item-content">
                        <h5 class="item-title">易数通用户中心平台</h5>

                        <div class="item-keyword">
                            Javascript
                        </div>
                    </div>
                </div>
                <div class="mgear-item mgear_1">
                    <div class="item-content">

                        <h5 class="item-title">船货报告云服务</h5>

                        <div class="item-keyword">
                            Java Mybatis
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background"></div>
</div>

<script src="{{asset '/bower_components/jquery/dist/jquery.js'}}"></script>
<script src="{{asset '/bower_components/bootstrap/dist/js/bootstrap.js'}}"></script>
</body>