{{#contentFor 'styles'}}
    <link rel='stylesheet' href="{{asset '/bower_components/bootstrap/dist/css/bootstrap.css'}}"/>
    <!-- build:css  /project/css/project.pkg_version.css -->
    <link rel='stylesheet' href='/public/css/flexbox.css'/>
    <link rel='stylesheet' href='/public/css/project.css'/>
    <!-- endbuild -->
{{/contentFor}}
<body>
{{> navigation}}
<div class="container-fluid">
    改版中...
</div>
{{#contentFor 'scripts'}}
    <script src="{{asset '/bower_components/jquery/dist/jquery.js'}}"></script>
    <script src="{{asset '/bower_components/bootstrap/dist/js/bootstrap.js'}}"></script>
{{/contentFor}}
</body>