/*    默认值为0 1 auto
        flex-grow,
            属性定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大。
        flex-shrink
            属性定义了项目的缩小比例，默认为1，即如果空间不足，该项目将缩小。
        flex-basis
            属性定义了在分配多余空间之前，项目占据的主轴空间（main size）。
            浏览器根据这个属性，计算主轴是否有多余空间。它的默认值为auto，即项目的本来大小
    */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  border: medium none;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 0 100%;
  -moz-box-flex: 1 0 100%;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  background-color: #2c2e2f;
}
.form-group {
  margin-bottom: 15px;
  border-bottom: 1px solid #3e4142;
}
.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 1.2rem;
  height: 3rem;
  line-height: 1.42857143;
  color: #FFFFFF;
  background: transparent none repeat scroll 0 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.signin {
  -webkit-box-flex: 0 1 400px;
  -moz-box-flex: 0 1 400px;
  -webkit-flex: 0 1 400px;
  -ms-flex: 0 1 400px;
  flex: 0 1 400px;
}
.signin-form {
  border-radius: 0px;
  margin: 10px;
  position: relative;
  text-align: left;
  -webkit-box-flex: 0 1 30rem;
  -moz-box-flex: 0 1 30rem;
  -webkit-flex: 0 1 30rem;
  -ms-flex: 0 1 30rem;
  flex: 0 1 30rem;
}
.alert {
  border: 1px solid transparent;
  border-radius: 0px;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  -webkit-box-flex: 0 1 30rem;
  -moz-box-flex: 0 1 30rem;
  -webkit-flex: 0 1 30rem;
  -ms-flex: 0 1 30rem;
  flex: 0 1 30rem;
}
.btn-submit {
  background-color: transparent;
  border: 1px solid #3e4142;
  border-radius: 0;
  color: #ffffff;
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 1.33333;
  padding: 10px 16px;
  -moz-user-select: none;
  background-image: none;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.btn-submit:hover,
.btn-submit:focus {
  background-color: transparent;
  border-color: #ffffff;
  text-decoration: none;
  color: #ffffff;
}
