.display-flex-important {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -moz-box !important;
  display: box !important;
  display: -webkit-flex !important;
  display: flex !important;
}
html,
body {
  color: #333333;
  font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.navbar {
  border-radius: 0;
  border-width: 0 0 1px;
  border-color: #eeeeee;
  border-style: solid;
}
.navbar .navbar-brand {
  padding: 2px;
  margin-left: 1rem;
}
.navbar .navbar-brand > img {
  height: 100%;
  border-radius: 50%;
}
.navbar-toggle {
  background-color: #FFFFFF;
  border: 1px solid #56a6d7;
  border-radius: 0;
}
.navbar-toggle .icon-bar {
  background-color: #56a6d7;
}
@media (max-width: 767px) {
  .navbar-collapse {
    border-top: 1px solid #eeeeee;
  }
}
.navbar-nav.nav > li > a {
  background: #FFFFFF;
  color: #666666;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
.navbar-nav.nav > li > a:hover {
  background: #a8d1eb;
  color: #FFFFFF;
}
.navbar-nav.nav > li.active > a {
  background: #56a6d7;
  color: #FFFFFF;
}
.container-fluid {
  width: 100%;
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 1200px;
    margin: 0 auto;
  }
}
