html,
body {
  color: #333333;
  font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.navbar {
  border-radius: 0;
  border-width: 0 0 1px;
  border-color: #eeeeee;
  border-style: solid;
}
.navbar .navbar-brand {
  padding: 2px;
  margin-left: 1rem;
}
.navbar .navbar-brand > img {
  height: 100%;
  border-radius: 50%;
}
.navbar-toggle {
  background-color: #FFFFFF;
  border: 1px solid #56a6d7;
  border-radius: 0;
}
.navbar-toggle .icon-bar {
  background-color: #56a6d7;
}
@media (max-width: 767px) {
  .navbar-collapse {
    border-top: 1px solid #eeeeee;
  }
}
.navbar-nav.nav > li > a {
  background: #FFFFFF;
  color: #666666;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
.navbar-nav.nav > li > a:hover {
  background: #a8d1eb;
  color: #FFFFFF;
}
.navbar-nav.nav > li.active > a {
  background: #56a6d7;
  color: #FFFFFF;
}
.container-fluid {
  width: 100%;
}
@media (min-width: 1215px) {
  .container-fluid {
    width: 1200px;
    margin: 0 auto;
  }
}
.btn-t-2 {
  color: #eeeeee;
  background-color: #ec6a13;
  border-color: #ec6a13;
  border-radius: 0;
}
.btn-t-2:focus,
.btn-t-2.focus {
  color: #eeeeee;
  background-color: #bd550f;
  border-color: #763509;
}
.btn-t-2:hover {
  color: #eeeeee;
  background-color: #bd550f;
  border-color: #b3510e;
}
.btn-t-2:active,
.btn-t-2.active,
.open > .dropdown-toggle.btn-t-2 {
  color: #eeeeee;
  background-color: #bd550f;
  border-color: #b3510e;
}
.btn-t-2:active:hover,
.btn-t-2.active:hover,
.open > .dropdown-toggle.btn-t-2:hover,
.btn-t-2:active:focus,
.btn-t-2.active:focus,
.open > .dropdown-toggle.btn-t-2:focus,
.btn-t-2:active.focus,
.btn-t-2.active.focus,
.open > .dropdown-toggle.btn-t-2.focus {
  color: #eeeeee;
  background-color: #9c460d;
  border-color: #763509;
}
.btn-t-2:active,
.btn-t-2.active,
.open > .dropdown-toggle.btn-t-2 {
  background-image: none;
}
.btn-t-2.disabled:hover,
.btn-t-2[disabled]:hover,
fieldset[disabled] .btn-t-2:hover,
.btn-t-2.disabled:focus,
.btn-t-2[disabled]:focus,
fieldset[disabled] .btn-t-2:focus,
.btn-t-2.disabled.focus,
.btn-t-2[disabled].focus,
fieldset[disabled] .btn-t-2.focus {
  background-color: #ec6a13;
  border-color: #ec6a13;
}
.btn-t-2 .badge {
  color: #ec6a13;
  background-color: #eeeeee;
}
.template {
  display: none;
}
.form-control {
  border-radius: 1px;
}
.test-capitalize {
  text-transform: capitalize;
}
.btn {
  border-radius: 1px;
}
/* 
	主轴方向 
	row row-reverse column column-reverse
 */
/*
  	换行 
  	nowrap wrap wrap-reverse
 */
/* <flex-direction> || <flex-wrap> */
/*
 	主轴对齐方式
 	flex-start flex-end cneter space-between space-around
 */
/*
 	交叉轴对齐方式
 	flex-start flex-end cneter baseline stretch
 */
/*
	多主轴对齐方式
 	flex-start flex-end cneter space-between space-around
 */
/* === 子元素 === */
/* 排序 */
/* 放大 */
/* 缩小 */
/* 大小 */
/* 
	none || <flex-grow> || <flex-shrink> ? || <flex-basis>

    默认值为0 1 auto
    flex-grow,
        属性定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大。
    flex-shrink
        属性定义了项目的缩小比例，默认为1，即如果空间不足，该项目将缩小。
    flex-basis
        属性定义了在分配多余空间之前，项目占据的主轴空间（main size）。
        浏览器根据这个属性，计算主轴是否有多余空间。它的默认值为auto，即项目的本来大小
*/
/* 
	单独对齐方式
	auto flex-start flex-end cneter baseline stretch

 */
html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -wwbkit-box-derection: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 0 100%;
  -moz-box-flex: 1 0 100%;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -moz-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  height: 100%;
  padding: 20px;
}
.main-container {
  -webkit-box-flex: 1 1 80%;
  -moz-box-flex: 1 1 80%;
  -webkit-flex: 1 1 80%;
  -ms-flex: 1 1 80%;
  flex: 1 1 80%;
  -moz-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  overflow-y: auto;
  margin-bottom: 15px;
}
#chat-wrap {
  padding: 0;
  margin: 0;
}
.chat-container {
  -webkit-box-flex: 1 1 20%;
  -moz-box-flex: 1 1 20%;
  -webkit-flex: 1 1 20%;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  -moz-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}
.chat-portrait {
  position: absolute;
  left: 10px;
  top: 0px;
}
.chat-portrait .portrait-img {
  width: 48px;
  height: 48px;
}
.chat-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 68px;
  min-height: 58px;
}
