html,
body {
  color: #333333;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
p {
  font: 14px/1.5em "Roboto";
}
.navbar {
  border-radius: 0;
  border-width: 0 0 1px;
  border-color: #eeeeee;
  border-style: solid;
}
.navbar .navbar-brand {
  padding: 2px;
  margin-left: 1rem;
}
.navbar .navbar-brand > img {
  height: 100%;
  border-radius: 50%;
}
.navbar-toggle {
  background-color: #FFFFFF;
  border: 1px solid #56a6d7;
  border-radius: 0;
}
.navbar-toggle .icon-bar {
  background-color: #56a6d7;
}
@media (max-width: 767px) {
  .navbar-collapse {
    border-top: 1px solid #eeeeee;
  }
}
.navbar-nav.nav > li > a {
  background: #FFFFFF;
  color: #666666;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
.navbar-nav.nav > li > a:hover {
  background: #a8d1eb;
  color: #FFFFFF;
}
.navbar-nav.nav > li.active > a {
  background: #56a6d7;
  color: #FFFFFF;
}
.container-fluid {
  width: 100%;
}
@media (min-width: 1215px) {
  .container-fluid {
    width: 1200px;
    margin: 0 auto;
  }
}
.btn-t-2 {
  color: #eeeeee;
  background-color: #ec6a13;
  border-color: #ec6a13;
  border-radius: 0;
}
.btn-t-2:focus,
.btn-t-2.focus {
  color: #eeeeee;
  background-color: #bd550f;
  border-color: #763509;
}
.btn-t-2:hover {
  color: #eeeeee;
  background-color: #bd550f;
  border-color: #b3510e;
}
.btn-t-2:active,
.btn-t-2.active,
.open > .dropdown-toggle.btn-t-2 {
  color: #eeeeee;
  background-color: #bd550f;
  border-color: #b3510e;
}
.btn-t-2:active:hover,
.btn-t-2.active:hover,
.open > .dropdown-toggle.btn-t-2:hover,
.btn-t-2:active:focus,
.btn-t-2.active:focus,
.open > .dropdown-toggle.btn-t-2:focus,
.btn-t-2:active.focus,
.btn-t-2.active.focus,
.open > .dropdown-toggle.btn-t-2.focus {
  color: #eeeeee;
  background-color: #9c460d;
  border-color: #763509;
}
.btn-t-2:active,
.btn-t-2.active,
.open > .dropdown-toggle.btn-t-2 {
  background-image: none;
}
.btn-t-2.disabled:hover,
.btn-t-2[disabled]:hover,
fieldset[disabled] .btn-t-2:hover,
.btn-t-2.disabled:focus,
.btn-t-2[disabled]:focus,
fieldset[disabled] .btn-t-2:focus,
.btn-t-2.disabled.focus,
.btn-t-2[disabled].focus,
fieldset[disabled] .btn-t-2.focus {
  background-color: #ec6a13;
  border-color: #ec6a13;
}
.btn-t-2 .badge {
  color: #ec6a13;
  background-color: #eeeeee;
}
.btn-black {
  color: #eeeeee;
  background-color: #666666;
  border-color: #666666;
}
.btn-black:focus,
.btn-black.focus {
  color: #eeeeee;
  background-color: #4d4d4d;
  border-color: #262626;
}
.btn-black:hover {
  color: #eeeeee;
  background-color: #4d4d4d;
  border-color: #474747;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  color: #eeeeee;
  background-color: #4d4d4d;
  border-color: #474747;
}
.btn-black:active:hover,
.btn-black.active:hover,
.open > .dropdown-toggle.btn-black:hover,
.btn-black:active:focus,
.btn-black.active:focus,
.open > .dropdown-toggle.btn-black:focus,
.btn-black:active.focus,
.btn-black.active.focus,
.open > .dropdown-toggle.btn-black.focus {
  color: #eeeeee;
  background-color: #3b3b3b;
  border-color: #262626;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  background-image: none;
}
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled.focus,
.btn-black[disabled].focus,
fieldset[disabled] .btn-black.focus {
  background-color: #666666;
  border-color: #666666;
}
.btn-black .badge {
  color: #666666;
  background-color: #eeeeee;
}
.template {
  display: none;
}
.form-control {
  border-radius: 1px;
}
.test-capitalize {
  text-transform: capitalize;
}
.btn {
  border-radius: 1px;
}
.theme-2 {
  color: #ec6a13;
}
/* 
	主轴方向 
	row row-reverse column column-reverse
 */
/*
  	换行 
  	nowrap wrap wrap-reverse
 */
/* <flex-direction> || <flex-wrap> */
/*
 	主轴对齐方式
 	flex-start flex-end cneter space-between space-around
 */
/*
 	交叉轴对齐方式
 	flex-start flex-end cneter baseline stretch
 */
/*
	多主轴对齐方式
 	flex-start flex-end cneter space-between space-around
 */
/* === 子元素 === */
/* 排序 */
/* 放大 */
/* 缩小 */
/* 大小 */
/* 
	none || <flex-grow> || <flex-shrink> ? || <flex-basis>

    默认值为0 1 auto
    flex-grow,
        属性定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大。
    flex-shrink
        属性定义了项目的缩小比例，默认为1，即如果空间不足，该项目将缩小。
    flex-basis
        属性定义了在分配多余空间之前，项目占据的主轴空间（main size）。
        浏览器根据这个属性，计算主轴是否有多余空间。它的默认值为auto，即项目的本来大小
*/
/* 
	单独对齐方式
	auto flex-start flex-end cneter baseline stretch

 */
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flex-column {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -wwbkit-box-derection: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-p-full {
  -webkit-box-flex: 1 0 100%;
  -moz-box-flex: 1 0 100%;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  min-height: 100vh;
}
.flex-full {
  -webkit-box-flex: 1 1 100%;
  -moz-box-flex: 1 1 100%;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.flex-auto {
  overflow: auto;
}
.flex-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
[class*="flex-xs"] {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
.flex-100 {
  -webkit-box-flex: 1 0 100vh;
  -moz-box-flex: 1 0 100vh;
  -webkit-flex: 1 0 100vh;
  -ms-flex: 1 0 100vh;
  flex: 1 0 100vh;
}
.flex-auto {
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.flex-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.flex-xs-offset-0 {
  margin-left: 0%;
}
.flex-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.flex-xs-offset-1 {
  margin-left: 8.33333333%;
}
.flex-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.flex-xs-offset-2 {
  margin-left: 16.66666667%;
}
.flex-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.flex-xs-offset-3 {
  margin-left: 25%;
}
.flex-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.flex-xs-offset-4 {
  margin-left: 33.33333333%;
}
.flex-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.flex-xs-offset-5 {
  margin-left: 41.66666667%;
}
.flex-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.flex-xs-offset-6 {
  margin-left: 50%;
}
.flex-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.flex-xs-offset-7 {
  margin-left: 58.33333333%;
}
.flex-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.flex-xs-offset-8 {
  margin-left: 66.66666667%;
}
.flex-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.flex-xs-offset-9 {
  margin-left: 75%;
}
.flex-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.flex-xs-offset-10 {
  margin-left: 83.33333333%;
}
.flex-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.flex-xs-offset-11 {
  margin-left: 91.66666667%;
}
@media screen and (min-width: 767px) {
  .flex-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .flex-sm-offset-0 {
    margin-left: 0%;
  }
  .flex-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .flex-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .flex-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .flex-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .flex-sm-offset-3 {
    margin-left: 25%;
  }
  .flex-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .flex-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .flex-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .flex-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .flex-sm-offset-6 {
    margin-left: 50%;
  }
  .flex-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .flex-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .flex-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .flex-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .flex-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .flex-sm-offset-9 {
    margin-left: 75%;
  }
  .flex-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .flex-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .flex-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex-sm-offset-11 {
    margin-left: 91.66666667%;
  }
}
[data-animation="fadeInUp"] {
  opacity: 0;
}
.animate-box,
.animate-offset {
  visibility: hidden;
}
.animate-box.animated,
.animate-offset.animated {
  visibility: visible;
}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
html {
  height: 100%;
}
body {
  height: 100%;
  color: #666666;
}
#banner {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -wwbkit-box-derection: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 2rem;
}
#banner h1 {
  font-size: 3rem;
  font-weight: bold;
  pointer-events: none;
}
.navbar-nav.nav > li > a:hover {
  background: transparent;
  color: #666666;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
#nav-container {
  text-align: center;
}
.navbar-nav.nav {
  margin: 4px auto;
  display: inline-block;
  float: none;
}
.navbar-nav.nav > li > a {
  background: transparent;
}
.nav > li {
  float: left;
}
@media all and (max-width: 767px) {
  #nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
  }
  #navbar-collapse.collapse.in {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #666666;
  }
}
#navbar-collapse {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar {
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  border: none;
  height: 60px;
}
.navbar.is-fixed {
  position: fixed;
  top: -60px;
  background-color: #FFF;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #ECECEC;
  z-index: 1000;
}
.navbar.is-visible {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
@media all and (max-width: 767px) {
  /* bootstrap�˵���Ҫ��ӵ���ʽ  */
  .navbar {
    height: 50px;
  }
  .navbar.is-fixed {
    top: -50px;
  }
}
.profile {
  margin-bottom: 20px;
}
.profile > img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
#birds-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
  top: 0;
  -moz-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  background-image: url("/public/img/bird_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}
.section-title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #666666;
}
.section-title:after {
  display: block;
  content: " ";
  width: 15%;
  bottom: 0;
  height: 2px;
  margin: 12px auto;
  background: rgba(102, 102, 102, 0.5);
}
.section-title > a {
  color: inherit;
}
.section-container {
  padding: 50px 0;
}
.section-container > main {
  margin-top: 35px;
}
.section-container.reverse {
  color: #FFFFFF;
}
.section-container.reverse .section-title {
  color: #FFFFFF;
}
.section-container.reverse .section-title:after {
  background: rgba(255, 255, 255, 0.9);
}
a.rotate-box {
  color: #363940;
  text-decoration: none;
}
.rotate-box {
  display: inline-block;
  margin: 30px 0 0 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.rotate-box:hover {
  color: #676D75;
}
.rotate-box:hover .rotate-box-icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rotate-box:hover .fa {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rotate-box h4 {
  font-weight: 400;
}
.rotate-box-icon {
  width: 75px;
  height: 75px;
  line-height: 75px;
  font-size: 36px;
  display: inline-block;
  background-color: #666666;
  margin-bottom: 15px;
  text-align: center;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #FFFFFF;
}
.rotate-box-icon::after {
  border: 2px solid #FFF;
  bottom: 3px;
  content: " ";
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
}
.rotate-box-icon .fa {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.rotate-box-small .rotate-box-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
}
.rotate-box-info {
  margin-top: 30px;
}
#keyword {
  height: 350px;
  width: 100%;
  background: #333333;
}
.view {
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 5;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #EEEEEE;
}
.view .title {
  left: 0;
  position: absolute;
  text-align: center;
  top: 70%;
  font-size: 18px;
  font-weight: bold;
  z-index: 11;
  -moz-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  background: #666666;
  color: #FFFFFF;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  padding: 0 20px;
  min-width: 150px;
}
.view .title:after {
  width: 20px;
  content: " ";
  position: absolute;
  right: -30px;
  height: 10px;
  border-color: #666666 transparent transparent #666666;
  border-style: solid solid solid solid;
  border-width: 15px;
  top: 0;
  z-index: 10;
}
.view:hover .mask {
  opacity: 0.5;
}
.view:hover .title {
  min-width: 100%;
}
.mask {
  background: rgba(54, 57, 64, 0.95) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -moz-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  width: 100%;
  z-index: 9;
}
#product {
  padding-top: 0;
}
#product > .container-fluid > .animate-box {
  margin-bottom: 15px;
}
.join-list li {
  display: inline-block;
  margin-right: 20px;
}
#contact {
  color: #FFFFFF;
  background-image: url("/public/img/map.jpg");
  background-size: cover;
  position: relative;
  z-index: -1;
}
#contact .cover {
  background-color: rgba(5, 8, 11, 0.93);
  z-index: -1;
}
.contact-title {
  margin-bottom: 20px;
}
.cover {
  background-color: rgba(0, 46, 82, 0.15);
  height: 100%;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}
.contact-address {
  margin: 15px 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
.contact-address li {
  margin: 0;
  padding: 0 0 20px 20px;
  position: relative;
}
.contact-address li:last-child {
  padding-bottom: 0;
}
.contact-address li i {
  margin-right: 10px;
  position: absolute;
  left: 0;
}
.form-control {
  background-color: rgba(200, 200, 200, 0.06);
}
.form-control:focus {
  background-color: #171717;
  box-shadow: none;
}
.input-lg {
  font-size: 14px;
  height: 46px;
  line-height: 1.33333;
  padding: 10px 16px;
}
.section-footer {
  padding: 30px 0 0 0;
  background-color: #333333;
  min-height: 15%;
  color: #FFFFFF;
}
.footer {
  background-color: #111111;
  padding: 30px 0;
}
.menu-list li a {
  color: #666666;
}
.menu-list li a:hover {
  color: #FFFFFF;
}
