@import "animation/animation";
@import "mixins/vendor-prefixes";
@import "import/var";
@import "theme";
@import "flexbox.scss";

html,
body {
  border  : medium none;
  height  : 100%;
  margin  : 0;
  padding : 0;
}

body {
  color : #666666;
}

a {
  text-decoration : none;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration : none;
  outline-offset  : 0;
}

ul,
li {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

.profile-views {
  padding : 10px;
}

.profile-info {
  li {
    padding : 5px;
  }
  .fa {
    margin-right : 0.5rem;
  }
}

@media (min-width : 767px) {
  .profile-views {
    padding-left : 3rem;
  }
}

.profile-picture {
  background-size     : cover;
  background-position : center 80%;
  height              : 100%;
  width               : 100%;
  background-image    : url("/public/img/about.jpg");
}

.name {
  font-weight : bold;
  font-size   : 2rem;
}

.clock {
  width            : 3rem;
  height           : 3rem;
  position         : absolute;
  left             : 25%;
  margin-left      : -1.5rem;
  z-index          : 201;
  background-color : #FFFFFF;
  color            : $c-blue;
}

.year {
  > h1 {
    text-align    : right;
    margin        : 0;
    padding-right : 3.5rem;
    line-height   : 3rem;
    color         : $c-blue;
    font-size     : 2rem;
    a {
      float            : right;
      background-color : #FFFFFF;
      padding          : 0 0.5rem 0;
      position         : relative;
      color            : inherit;
    }
    i {
      border-color : $c-blue transparent transparent;
      border-style : solid;
      border-width : 6px;
      display      : block;
      height       : 0;
      right        : -1rem;
      position     : absolute;
      top          : 1.5rem;
      @include transform-origin(6px 0px 0);
      @include transition(all 0.5s ease 0s);
      width        : 0;
    }
  }
  .list {
    margin   : 10px 0;
    overflow : hidden;
    position : relative;
    @include transition();
  }
}

@media (max-width : 767px) {
  .year > h1 {
    font-size     : 1.5rem;
    padding-right : 2rem;
    a {
      padding : 0;
    }
  }
}

.year.closed {
  i {
    @include rotate(-90deg);
  }
  .list {
    height : 0 !important;
  }
}

.hr {
  border-color : $c-blue;
  border-style : dotted;
  border-width : 1px;
  height       : 0;
  position     : absolute;
  top          : 1.5rem;
  margin       : 0;
  &.left {
    width : 10%;
    left  : 0;
  }
  &.right {
    width : 70%;
    right : 0;
  }
}

li.part {
  padding : 30px 0;
}

.time-axis {
  margin-top : 2rem;
  position   : relative;
  padding    : 0 0 100px 0;
  .time {
    padding     : 0 3rem 0 0;
    line-height : 30px;
    text-align  : right;
  }
  .thing {

  }
  .content {
    padding     : 0 0 0 3rem;
    line-height : 30px;
    text-align  : left;
  }
  .flex-row {
    position : relative;
  }
}

.time-axis-wrap {
  position : relative;
  &::before {
    position         : absolute;
    top              : 0;
    bottom           : 0;
    left             : 25%;
    z-index          : 100;
    width            : 2px;
    margin-left      : -1px;
    content          : '';
    background-color : $c-blue;
  }
  .title {
    color : $c-green;
  }
  .circle {
    position         : absolute;
    left             : 25%;
    z-index          : 200;
    margin-left      : -15px;
    background-color : #FFFFFF;
    width            : 30px;
    height           : 30px;
    &:before {
      background-color : #FFFFFF;
      border           : 1px solid $c-green;
      position         : absolute;
      margin           : 8px;
      display          : block;
      width            : 14px;
      height           : 14px;
      content          : ' ';
      border-radius    : 50%;
      z-index          : 201;
      box-sizing       : border-box;
    }
    &:after {
      display          : block;
      content          : ' ';
      position         : absolute;
      background-color : $c-green;
      width            : 8px;
      height           : 8px;
      border-radius    : 50%;
      margin           : 11px;
      z-index          : 202;
      box-sizing       : border-box;
    }
  }
}

.axis-theme-2 {
  .title {
    color : $c-orange;
  }
  .circle:before {
    border : 1px solid $c-orange;
  }
  .circle:after {
    background-color : $c-orange;
  }
}

.axis-theme-3 {
  .title {
    color : $c-blue;
  }
  .circle:before {
    border : 1px solid $c-blue;
  }
  .circle:after {
    background-color : $c-blue;
  }
}

.axis-theme-4 {
  .title {
    color : $c-purple;
  }
  .circle:before {
    border : 1px solid $c-purple;
  }
  .circle:after {
    background-color : $c-purple;
  }
}

.title {
  font-weight : bold;
  font-size   : 1.2em;
}

.point {
  background    : #56A6D7 none repeat scroll 0 0;
  border-radius : 50px;
  height        : 10px;
  width         : 10px;
  margin-top    : 100px;
  position      : relative;
  left          : 25%;
  margin-left   : -5px;
  z-index       : 201;
}
