<form class="flex-row flex-full auto">
    <div class="panel flex-column flex-full hpanel ">
        <div class="panel-body flex-row flex-full auto ">
            <section class="markdown-view">
                <header class="view-header">
                    <h2 class="view-title">
                        <input ng-model="post.title" placeholder="请输入标题" required>
                    </h2>
                    <section class="view-actions">
                        <button type="button" class="btn btn-link post-settings" title="Post Settings"
                                ng-click="postSettings()">
                            <i class="glyphicon glyphicon-cog"></i>
                        </button>
                        <div class="btn-group" uib-dropdown>
                            <button type="submit" v-busy="" v-busy-click="ok()" class="btn btn-primary" v-pressable="">
                                <span>发布</span>
                            </button>
                            <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="right: 0;left: auto;" aria-labelledby="split-button">
                                <li role="menuitem"><a>发布</a></li>
                                <li role="menuitem"><a>草稿</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a>some</a></li>
                            </ul>
                        </div>
                    </section>
                </header>
                <section class="view-container ">
                    <div class="">
                            <textarea class="form-control posts-markdown border-none"
                                      ng-model="post.markdown"></textarea>
                    </div>
                    <div class="hidden-sm hidden-xs">
                        <div data-sd-model-to-html="post.markdown"></div>
                    </div>
                </section>
            </section>
        </div>
        <div class="panel-footer">
                    <span class="desktop-tabs">
                        <a class="markdown-help-label" ng-click="open()" title="Markdown Help">Markdown</a>
                    </span>
        </div>
    </div>
</form>