@import "flex";
.flex-row {
    .display-flex();
    -webkit-box-flex: 0;
    .flex(0 1 auto);
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    .flex-flow(row wrap);
}

.flex-column {
    .display-flex();
    -webkit-box-flex: 0;
    .flex(0 1 auto);
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    .flex-wrap(nowrap);
    .flex-direction-column();
}

.flex-p-full {
    .flex(1 0 100%);
}

.flex-full {
    .flex(1 1 100%);
}

.flex-auto {
    overflow: auto;
}

.flex-center {
    .align-items(center);
    .justify-content(center);
}

[class*="flex-xs"] {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
}

@row: 12;
.flex-xs(@index) when (@index =< @row) {
    .flex-xs-@{index}{
        -ms-flex-preferred-size: 100% * @index / @row;
        flex-basis: 100% * @index / @row;
        max-width: 100% * @index / @row;
    }
    @_index:(@index - 1);
    .flex-xs-offset-@{_index}{
        margin-left:100% * ((@index)-1) / @row;
    }
    .flex-xs(@index + 1)
}
.flex-xs(1);
