@import "../../public/less/flex";
@import "../../public/less/var";
@import "../../public/less/theme";
html {
    height: 100%;
}

.theme-2 {
    color: @t2-c;
}

.navbar {
    margin-bottom: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    .display-flex();
    .flex-direction-column();
    .flex(1 0 100%);
    .transition();
    height: 100vh;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.navbar {
    display: table;
    width: 100%;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    .flex(2 0 40vh);
}

//.content-wrap {
//  position : relative;
//  &:after {
//    color       : rgba(0, 0, 0, 0.2);
//    content     : " ";
//    display     : block;
//    font-size   : 2rem;
//    height      : 2rem;
//    left        : 50%;
//    line-height : 2rem;
//    margin-left : -4.2rem;
//    margin-top  : -1.2rem;
//    position    : absolute;
//    text-align  : center;
//    top         : 50%;
//    width       : 8rem;
//  }
//}
@media all and (max-width: 767px) {
    .background {
        background-attachment: inherit;
    }
}

.bgi {
    .background {
        background-image: url("/public/img/bgi_bg.jpg");
        background-position: 20% bottom;
    }
    .content {
        background: rgba(0, 0, 0, 0) url("/public/img/cloud.png") no-repeat scroll center bottom / contain;
    }
    .content-wrap:after {
        //content : "Ember.js";
    }
}

.nifty .background {
    background-image: url("/public/img/nifty_bg.jpg");
    background-position: 58% center;
}

.nifty-wrap {
    font-size: 4rem;
    text-align: center;
    color: rgba(180, 180, 180, 0.2);
}

.divingtime .background {
    background-image: url("/public/img/divingtime_bg.jpg");
}

.mgear .background {
    background-image: url("/public/img/mgear_bg.jpg");
    background-position: 80% center;
}

.content-wrap {
    width: 100%;
    .display-flex();
    height: 10rem;
    .justify-content(center);
    .align-items(center);
    .flex(1 1 100%);
}

.mgear-item {
    .flex(0 0 20%);
    .justify-content(center);
    .align-items(center);
    text-align: center;
    padding: 1rem;
}

.item-title {
    position: relative;
    z-index: 2;
    &:after {
        position: absolute;
        display: block;
        width: 0;
        left: 50%;
        margin-left: 0;
        height: 2px;
        background: @t3-c;
        content: " ";
        top: 150%;
        .transition();
    }
}

.item-content {
    border: 1px solid @t3-c;
    height: 6rem;
    text-align: center;
    position: relative;
    .display-flex();
    .justify-content(center);
    .align-items(center);
    .flex-direction(column);
}

.mgear-item:hover {
    .item-title {
        &:after {
            width: 30%;
            margin-left: -15%;
        }
    }
}

@media all and (min-width: 768px) {
    .mgear_1 .item-content {
        top: 1rem;
    }
    .mgear_2 .item-content {
        top: 2rem;
    }
    .mgear_3 .item-content {
        //height : 8rem;
    }
}

@media all and (max-width: 767px) {
    .mgear-wrap {
        display: block;
        height: auto;
        .mgear-item {
            width: 100%;
            display: block;
        }
    }
}

.content {
    .flex(1 1 auto);
    > div.container-fluid {
        padding: 30px 0 70px;
        .display-flex();
        min-height: 100%;
        .flex(1 0 100%);
        .flex-direction(column);
    }
}

.point {
    padding-left: 120px;
    position: relative;
    min-height: 100px;
    margin-bottom: 20px;
    color: lighten(@t-c, 10%);
    > h3 {
        font-size: 1.2rem;
        font-weight: bold;
        color: lighten(@t-c, 5%);
    }
    .icon {
        width: 80px;
        position: absolute;
        left: 30px;
        top: 10px;
    }
}

.title {
    text-align: center;
    font-weight: bold;
    color: @t-c;
    &:after {
        display: block;
        content: " ";
        width: 15%;
        bottom: 0;
        height: 2px;
        margin: 12px auto;
        background: @t2-c;
    }
    > a {
        color: inherit;
    }
}

.text-center {
    text-align: center;
}

.lead {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
}

.img-inner {
    .display-flex();
    .flex(1 0 100%);
    .justify-content(center);
    .align-items(center);
    img {
        margin:0 0.8rem;
    }
}
