@import "var";
@import "common";

html,
body {
  color       : #333333;
  font-family : Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size   : 14px;
}

.navbar {
  border-radius : 0;
  border-width  : 0 0 1px;
  border-color  : @bd-c;
  border-style  : solid;
  .navbar-brand {
    padding     : 2px;
    margin-left : 1rem;
    > img {
      height        : 100%;
      border-radius : 50%;
    }
  }
}

.navbar-toggle {
  background-color : @bg-c;
  border           : 1px solid @t3-c;
  border-radius    : 0;
  .icon-bar {
    background-color : @t3-c;
  }
}

@media (max-width : 767px) {
  .navbar-collapse {
    border-top : 1px solid @bd-c;
  }
}

.navbar-nav.nav > li {
  > a {
    background : @bg-c;
    color      : @t-c;
    .transition(all 0.2s ease-in 0s);
    &:hover {
      background : lighten(@t3-c, 20%);
      color      : @bg-c;
    }
  }
  &.active > a {
    background : @t3-c;
    color      : @bg-c;
  }
}

.container-fluid {
  width : 100%;
}

@media (min-width : 1215px) {
  .container-fluid {
    width  : 1200px;
    margin : 0 auto;
  }
}

.btn-t-2 {
  .button-variant(@bd-c, @t2-c, @t2-c);
  border-radius : 0;
}

.button-variant(@color; @background; @border) {
  color            : @color;
  background-color : @background;
  border-color     : @border;

  &:focus,
  &.focus {
    color            : @color;
    background-color : darken(@background, 10%);
    border-color     : darken(@border, 25%);
  }
  &:hover {
    color            : @color;
    background-color : darken(@background, 10%);
    border-color     : darken(@border, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color            : @color;
    background-color : darken(@background, 10%);
    border-color     : darken(@border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color            : @color;
      background-color : darken(@background, 17%);
      border-color     : darken(@border, 25%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image : none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color : @background;
      border-color     : @border;
    }
  }

  .badge {
    color            : @background;
    background-color : @color;
  }
}

.template {
  display : none;
}

.form-control {
  border-radius : 1px;
}
.test-capitalize{
  text-transform: capitalize;
}