{{#contentFor 'styles'}}
    <link rel='stylesheet' href="{{asset '/bower_components/bootstrap/dist/css/bootstrap.css'}}"/>
    <link rel='stylesheet' href="{{asset '/bower_components/font-awesome/css/font-awesome.css'}}"/>
    <!-- build:css  /product/css/product.pkg_version.css -->
    <link rel='stylesheet' href='/public/css/flexbox.css'/>
    <link rel='stylesheet' href='/bower_components/animate.css/animate.css'/>
    <link rel='stylesheet' href='/product/css/index.css'/>
    <!-- endbuild -->
{{/contentFor}}

<body>
<section id="banner">
    <div class="profile animate-box" data-animation="flip">
        <img src="/public/img/profile-picture.jpg">
    </div>
    <div class="animate-box" id="nav-container" data-delay="1000" data-animation="fadeIn">
        <div class="navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/essay">主页</a></li>
                    <li><a href="/product">作品</a></li>
                    <li><a href="/about">留言板</a></li>
                    <li><a href="/about">关于</a></li>
                </ul>
            </div>
        </div>
        <!--<div class="navbar">-->
        <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"-->
        <!--aria-expanded="true">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <!--<a class="navbar-brand page-scroll visible-xs" href="index.html">-->
        <!--<img src="/public/img/profile-picture.jpg">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="collapse navbar-collapse" id="navbar-collapse">-->
        <!--<ul class="nav navbar-nav">-->
        <!--<li><a href="/essay">主页</a></li>-->
        <!--<li><a href="/product">作品</a></li>-->
        <!--<li><a href="/about">留言板</a></li>-->
        <!--<li><a href="/about">关于</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

    </div>
    <div class="text-center animate-box">
        <h1 class="text-uppercase">I'm waiting for the opportunity</h1>
    </div>
</section>
<section id="birds-container" style="opacity: 1;" data-stellar-background-ratio="0.5"></section>
<section class="section-container container-fluid">
    <h1 class="animate-box">
        <p class="section-title">作品类型</p>

        <p class="text-center">按照爱好分类</p>
    </h1>

    <main class="container-fluid text-center">
        <div class="col-md-3 col-sm-6">
            <a class="rotate-box animate-box" data-animation="zoomIn">
                <span class="rotate-box-icon"><i class="fa fa-file-code-o"></i></span>

                <div class="rotate-box-info">
                    <h4>代码</h4>

                    <p>主要涉及前端代码</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="rotate-box animate-box" data-animation="zoomIn">
                <span class="rotate-box-icon"><i class="fa fa-picture-o"></i></span>

                <div class="rotate-box-info">
                    <h4>图片</h4>

                    <p>工具肯定是著名的 <br> Adobe PhotoShop</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="rotate-box animate-box" data-animation="zoomIn">
                <span class="rotate-box-icon"><i class="fa fa-file-video-o"></i></span>

                <div class="rotate-box-info">
                    <h4>视频</h4>

                    <p>会声会影 <br> Adobe AfterEffect</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="rotate-box animate-box" data-animation="zoomIn">
                <span class="rotate-box-icon"><i class="fa fa-mobile"></i></span>

                <div class="rotate-box-info">
                    <h4>其他</h4>

                    <p>杂乱的东西</p>
                </div>
            </a>
        </div>
    </main>
</section>

<section class="section-container" data-animation="fadeIn" id="product">
    <div class="container-fluid">
        <div class="col-md-4 col-xs-12 animate-box">
            <div class="view">
                <img src="/public/img/mgear_bg.jpg" class="img-responsive">

                <div class="mask">
                    <h3 title="Full Image">聊天系统</h3>
                    <a href="/product/chat" target="_blank">
                        <span class="fa fa-search"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-container animate-box reverse" id="bg_1" data-animation="fadeIn">
    <h1 class="animate-box">
        <p class="section-title">关键字</p>

        <p class="text-center">个人标签</p>
    </h1>
    <main class="container-fluid text-center animate-box">
        <div>前端工程师</div>
    </main>
</section>

<section class="section-container animate-box" id="join" data-animation="fadeIn">
    <h1 class="animate-box">
        <p class="section-title">其他链接</p>

        <p class="text-center">可以寻找到我足迹的网站</p>
    </h1>
    <div class="container-fluid text-center">
        <ul class="list-unstyled join-list">
            <li class="animate-box" data-animation="zoomIn" data-delay="500">
                <a class="rotate-box rotate-box-small" target="_blank"
                   href="http://weibo.com/1575459884/profile?rightmod=1&wvr=6&mod=personinfo">
                    <span class="rotate-box-icon">
                    <i class="fa fa-weibo"></i></span>
                </a>
            </li>
            <li class="animate-box" data-animation="zoomIn">
                <a class="rotate-box rotate-box-small" target="_blank" href="https://github.com/zeev-kell">
                    <span class="rotate-box-icon">
                    <i class="fa fa-github"></i></span>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="section-container animate-box reverse" id="contact" data-animation="fadeIn">
    <div class="cover"></div>
    <h1 class="animate-box">
        <p class="section-title">联系</p>

        <p class="text-center">下面方式都可以找到我</p>
    </h1>
    <main class="container-fluid">
        <div class="col-md-6 col-xs-12">
            <h3 class="contact-title">联系方式</h3>
            <ul class="contact-address">
                <li>
                    <i class="fa fa-map-marker fa-lg"></i>
                    洪安三街&nbsp;华大公寓<br>盐田区<br>广东省&nbsp;深圳市
                </li>
                <li><i class="fa fa-phone"></i>•••••••••••</li>
                <li><i class="fa fa-envelope"></i>617070839@qq.com</li>
                <li><i class="fa fa-qq"></i>617070839</li>
            </ul>
        </div>
        <div class="col-md-6 col-xs-12">
            <h3 class="contact-title">发送私信</h3>

            <form role="form" method="POST" action="/message">
                <div class="form-group">
                    <input required name="name" class="form-control input-lg" placeholder="Your Name">
                </div>

                <div class="form-group">
                    <input required name="email" class="form-control input-lg" placeholder="E-mail">
                </div>

                <div class="form-group">
                    <textarea required name="content" class="form-control input-lg" placeholder="Message"
                              style="resize: vertical"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-black">提交</button>
                </div>
            </form>
        </div>
    </main>
</section>

<footer class="animate-box section-footer" data-animation="fadeIn">
    <div class="container-fluid">
        <div class="footer-main row">
            <div class="col-xs-4">
                <h3>网站导航</h3>
                <ul class="list-unstyled menu-list">
                    <li><a href="/essay">主页</a></li>
                    <li><a href="/product">作品</a></li>
                    <li><a href="/about">留言板</a></li>
                    <li><a href="/about">关于</a></li>
                </ul>
            </div>
            <div class="col-xs-8">
                <h3>最近动态</h3>
                <ul class="list-unstyled">
                    <li>
                        <a>TITLE</a>
                    </li>
                    <li>
                        <a>TITLE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer text-center">
        <p class="copyright">柯子源 & <a target="_blank" href="http://www.zeevkell.com">zeevkell</a></p>
    </div>
</footer>

{{#contentFor 'scripts'}}
    <!-- build:js  /product/js/index.pkg_version.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery.easing/js/jquery.easing.js"></script>
    <script src="/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/product/index.js"></script>
    <!-- endbuild -->


    {{#env product=false}}
    <!-- build:js  /product/js/birds.pkg_version.js -->
    <script src="/public/libs/three.js/build/three.js"></script>
    <script src="/public/libs/three.js/js/renderers/Projector.js"></script>
    <script src="/public/libs/three.js/js/renderers/CanvasRenderer.js"></script>
    <script src="/public/libs/three.js/obj/Bird.js"></script>
    <script src="/product/birds.js"></script>
    <!-- endbuild -->
    {{/env}}


    {{#env product=true}}
    <script>
    (function() {
      if($(window).width() > 767){
          var _script = document.createElement("script");
          _script.src = "/product/js/birds.pkg_version.js";
          var _s = document.getElementsByTagName("script")[0];
          _s.parentNode.insertBefore(_script, _s);
      }
    })();
    </script>
    {{/env}}

{{/contentFor}}
</body>