{{#contentFor 'styles'}}
    <link rel='stylesheet' href="{{asset '/bower_components/bootstrap/dist/css/bootstrap.css'}}"/>
    <!-- build:css  /product/css/product.pkg_version.css -->
    <link rel='stylesheet' href='/product/css/index.css'/>
    <!-- endbuild -->
{{/contentFor}}

<body>
<div id="birds-container" style="opacity: 1"></div>
<div class="">
</div>
{{#contentFor 'scripts'}}
    <!-- build:js  /product/js/birds.pkg_version.css -->
    <script src="/bower_components/three.js/build/three.js"></script>
    <script src="/bower_components/three.js/js/renderers/Projector.js"></script>
    <script src="/bower_components/three.js/js/renderers/CanvasRenderer.js"></script>
    <script src="/bower_components/three.js/obj/Bird.js"></script>
    <script src="/product/birds.js"></script>
    <!-- endbuild -->
{{/contentFor}}
</body>