<aside>
    <h3 class="aside-title">文章归档 <a href="archive" style="margin: 0 0 0 10px" role="button">>></a></h3>

    <div class="aside-wrap tags-wrap">
        <ul>
            <% for(var i = 0;i < archives.length;i++){  var archive = archives[i] %>
            <li class="archive">
                <a class="hvr-shrink"
                   href="/essay/archive/<%= moment(archive._id, 'l') %>"><%= moment(archive._id, 'YYYY年MM月DD日') %></a>
                <span>(<%= archive.count %>)</span>
            </li>
            <% } %>
        </ul>
    </div>
</aside>