<div class="row">
    <div class="col-lg-12" style="animation-delay: 0.1s;">
        <form>
            <div class="panel">
                <div class="panel-body">
                    <section class="markdown-view">
                        <header class="view-header">
                            <h2 class="view-title">
                                <input ng-model="posts.title" placeholder="请输入标题" ng-blur="ok();">
                            </h2>
                        </header>
                        <section class="view-container row">
                            <div class="col-xs-12 col-md-6">
                                <textarea class="form-control posts-markdown border-none" ng-model="posts.markdown"></textarea>
                            </div>
                            <div class="col-xs-6 col-md-6 hidden-sm hidden-xs">
                                <div data-sd-model-to-html="posts.markdown"></div>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </form>
    </div>
</div>