@import "../../public/less/common";
@import "../../public/less/theme";

.posts {
  padding-right : 350px;
  .posts-wrap {
    padding : 0 10px;
    article {
      border-bottom  : 1px solid #eee;
      margin-bottom  : 30px;
      padding-bottom : 30px;
      position       : relative;
    }
  }
}

@media (max-width : 767px) {
  .posts {
    padding-right : 0px;
  }
}

.post-side {
  float   : right;
  width   : 350px;
  padding : 10px 0;
  .sidebar aside {
    //border  : 1px #bbbbbb solid;
    padding : 10px;
  }
  .aside-title {
    border-bottom : 1px solid #bbbbbb;
    padding       : 0px 0 0 15px;
    font-size     : 1.5rem;
    margin-bottom : 10px;
    position      : relative;
    &:before {
      display          : block;
      content          : " ";
      position         : absolute;
      height           : 100%;
      width            : 10px;
      background-color : #006600;
      top              : 0;
      left             : 0;
    }
    &:after {
      display  : block;
      content  : " ";
      position : absolute;
      height   : 1px;
      width    : 100%;
      //background-color : #006600;
      bottom   : 0;
      left     : 0;
    }
  }
  .aside-wrap {

  }
}

.tags-wrap .tag {
  background-color : #EEEEEE;
  border           : 1px solid #e5e5e5;
  color            : #666666;
  display          : inline-block;
  font-size        : 13px;
  margin           : 0 3px 6px 0;
  padding          : 2px 8px;
  position         : relative;
  .transition(all 200ms ease 0s);
  text-decoration  : none;
  &:hover {
    background-color : #777777;
    color            : #FFFFFF;
    border           : 1px solid #666666;
  }
}

.post-dynamic ul {
  color     : #aaa;
  display   : table;
  font-size : 12px;
  margin    : 5px 0 10px;
  padding   : 0;
  li {
    cursor       : default;
    display      : list-item;
    float        : left;
    list-style   : outside none none;
    margin-right : 20px;
  }
  a {
    color           : #666;
    text-decoration : none;
  }
}