@import "../../public/less/common";
@import "../../public/less/var";
@import "../../public/less/theme";

#birds-container {
  height              : 100%;
  width               : 100%;
  position            : absolute;
  z-index             : 1;
  overflow            : hidden;
  opacity             : 0;
  top                 : 0;
  .transition();
  background-image    : url("/public/img/bird_bg.jpg");
  background-repeat   : no-repeat;
  background-size     : contain;
  background-position : center bottom;
}