<div class="container-fluid">
    <ul>
        <li>
            {{debug comments}}
            <div>
                {{#each comments}}
                    {{content}}
                {{/each}}
            </div>
        </li>
    </ul>
    <form action="/comment/{{post._id}}" method="post">
        <div class="form-group">
            <input type="text" name="content">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-t-1">提交</button>
        </div>
    </form>
</div>