<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="zeevkell 的小站">
    <meta name="keywords" content="zeevkell zeev">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="zeev">
    <meta name="HandheldFriendly" content="true">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- remove -->
    <meta http-equiv="Pragma" content="no-cache">
    <!-- endbuild -->

    <!--IE使用可用的最高版本的模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="initial-scale=1">

    <title><%= title %></title>

    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'/>

    <!-- build:css  /common/css/zeev.css -->
    <link rel='stylesheet' href='/essay/css/index.css'/>
    <!-- endbuild -->
</head>
<body>