<%- include header.ejs %>
<%- include navigation.ejs %>
<div class="container-fluid">
    <article>
        <h1>Internet Explorer 9</h1>

        <p>Windows Internet Explorer 9(缩写为 IE9 )在2011年3月14日21:00 发布。</p>
    </article>
</div>
<script type="text/javascript" src="/public/js/base.js"></script>
<script type="text/javascript" src="/essay/js/post.js"></script>
<%- include footer.ejs %>