{{#contentFor 'scripts'}}
<script type="text/javascript" src="/public/js/base.js"></script>
<script src="{{asset '/bower_components/jquery/dist/jquery.js'}}"></script>
<script src="{{asset '/bower_components/bootstrap/dist/js/bootstrap.js'}}"></script>
{{/contentFor}}
</body>